{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if bag_items %}
                        <div class="table-responsive rounded"></div>
                    {% else %}
                        <p class="lead mb-5">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg"></a>
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>
{% endblock %}