{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="page-heading-font">Contact Us</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 mx-auto">
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        {{form.first_name | as_crispy_field}}
                        {{form.last_name | as_crispy_field}}
                        {{form.email_address | as_crispy_field}}
                        {{form.message | as_crispy_field}}
                    </fieldset>
                        <button type="submit" class="btn btn-theme-color rounded-0 btn-lg">
                            <span class="text-uppercase">Submit</span>
                            <span class="icon">
                                <i class="fa-paper-plane"></i>
                            </span>
                        </button>
                    </form>
        </div>
    </div>
</div>

{% endblock %}