{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 id="hero-tag" class="display-4 text-blue">
                    Get ready for your next <strong>ADVENTURE!</strong>
                </h1>
                <div class="my-3">
                    <h4>
                        <a href="{% url 'products' %}" class="hero-button btn btn-lg rounded-4 text-uppercase py-3">View Products</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}