{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-white text-shadow bebas">
                    Get ready for your next <strong>ADVENTURE!</strong>
                </h1>
                <div class="my-3">
                    <h4>
                        <a href="{% url 'products' %}" class="hero-button text-shadow btn btn-lg rounded-4 text-uppercase py-3">View Products</a>
                    </h4>
                </div>
            </div>
        </div>

        <!-- START CARD -->

        <div class="card-group">
            <div class="card category-card bg-black-opacity">
                <div class="card-body text-center">
                    <img src="/media/base-images/waterproof-jacket-card.png" alt="man standing in the rain" class="img-fluid">
                  <h4 class="text-white text-shadow bebas my-3">
                      Waterproof Jackets
                  </h4>
                  <p class="card-text text-white">Stay protected from the elements!</p>
                  <div>
                    <button class="btn btn-theme-color rounded-0" type="submit">View Products</button>
                </div>
                </div>
              </div>

              <div class="card category-card bg-black-opacity">
                <div class="card-body text-center">
                    <img src="/media/base-images/rucksack-card.png" alt="rucksack held up against a view" class="img-fluid">
                  <h4 class="text-white text-shadow bebas my-3">
                      Adventure Rucksacks
                  </h4>
                  <p class="card-text text-white">Take everything you need for the journey...</p>
                  <div>
                    <button class="btn btn-theme-color rounded-0" type="submit">View Products</button>
                </div>
                </div>
              </div>

        </div>

        <!-- BRANDS -->
        <div class="row row-cols-md-8 g-4">
            <div class="col">
              <div class="card h-10">
                <img src="/media/base-images/berghaus-logo.jpg" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card h-10">
                <img src="/media/base-images/merrell-logo.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card h-10">
                <img src="/media/base-images/north-face-logo.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card h-10">
                <img src="/media/base-images/regatta-logo.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
                <div class="card h-10">
                  <img src="/media/base-images/berghaus-logo.jpg" class="card-img-top" alt="...">
                </div>
              </div>
              <div class="col">
                <div class="card h-10">
                  <img src="/media/base-images/merrell-logo.png" class="card-img-top" alt="...">
                </div>
              </div>
              <div class="col">
                <div class="card h-10">
                  <img src="/media/base-images/north-face-logo.png" class="card-img-top" alt="...">
                </div>
              </div>
              <div class="col">
                <div class="card h-10">
                  <img src="/media/base-images/regatta-logo.png" class="card-img-top" alt="...">
                </div>
              </div>
          </div>


        <!-- END CARD-->




    </div>


    
{% endblock %}