@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    height:100%;
}

body {
    background: url('/media/base-images/homepage-hero.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Montserrat';
}

.bebas {
    font-family: 'Bebas Neue', cursive !important;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.text-green {
    color: #A8D977 !important;
}

.text-blue {
    color: #375CA6 !important;
}

.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.bg-lightblue {
    background-color: #5274d9;
}

.bg-green {
    background-color: #A8D977;
}

.bg-black-opacity {
    background-color: #0000007a;
}

#topnav {
    background-color: #375CA6;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

/* from Bulma - Maintains FontAwesome icon sizes and centering */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.qty-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #5274d9;
    border: #A8D977 2px;
    border-radius: 5px;
    color: #fff;
}

.qty-icon:hover,
.qty-icon:active,
.qty-icon:focus {
    background: #A8D977;
}

.page-heading-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: #375CA6 !important;
}

.border-theme-color {
    border: 1px solid #375CA6!important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #375CA6 !important;
    color: red !important;
}

/* -------------------------------- Logo */

.logo-font {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-weight: 600;
}

.main-logo-link {
    width: fit-content;
}

/* -------------------------------- Buttons */

.hero-button {
    background: #5274d9;
    color: white;
    min-width: 260px;
    box-shadow: 2px 2px 4px #000000;
}

.btn-theme-color {
    background: #5274d9;
    color: #fff;
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus,
.btn-theme-color:hover,
.btn-theme-color:active,
.btn-theme-color:focus {
    background: #A8D977;
    color: white;
}

.btn-red {
    background: rgb(228, 55, 55);
    color: white;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: rgb(177, 13, 13);
    color: white;
}

.btt-link,
.remove-item,
.update-link {
    cursor: pointer;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #A8D977;
    border: 2px solid #A8D977;
    border-radius:50%;
}

.button-outline-theme-color {
    background: white;
    color: #375CA6 !important;
    border: 1px solid black;
}

btn-outline-theme-color:hover,
btn-outline-theme-color:active,
btn-outline-theme-color:focus {
    background: black;
    color: white !important;
}

/* -------------------------------- Search Bar */

input[name='q']::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #375CA6 !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Custom Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* --------------------------------- Card CSS */

.category-card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    object-position: center;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Increase padding when the navbar is collapsed on smaller screens */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}