<footer class="mt-auto">
    <div class="bg-lightblue">
      <div class="py-3">
        <div class="d-flex justify-content-center">
          <a href="#"><i class="fab fa-facebook-f fa-lg text-green mr-4 fa-2x"></i></a>
          <a href="#"><i class="fab fa-twitter fa-lg text-green mr-4 fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-lg text-green fa-2x"></i></a>
        </div>
      </div>
      <div class="text-center text-white font-weight-bold pb-2">Copyright &copy; 2021-
        <script>
          document.write(new Date().getFullYear())
        </script> Outdoor World
      </div>
    </div>
  </footer>