<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            <!--<a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item ">By Rating</a>-->
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=jumpers" class="dropdown-item">Jumpers</a>
                <a href="{% url 'products' %}?category=tshirts" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products' %}?category=hats" class="dropdown-item">Hats</a>
                <a href="{% url 'products' %}?category=jumpers, tshirts, hats" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="drinkware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinkware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drinkware-link">
                <a href="{% url 'products' %}?category=mugs" class="dropdown-item">Mugs</a>
                <a href="{% url 'products' %}?category=glasses" class="dropdown-item">Glasses</a>
                <a href="{% url 'products' %}?category=sports_bottles" class="dropdown-item">Sports Bottles</a>
                <a href="{% url 'products' %}?category=mugs,glasses,sports_bottles" class="dropdown-item">All Drinkware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals, deals, clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>