{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <hr>
            <h2 class="page-heading-font">Adventure & Equipment Blog</h2>
            <h5 class="text-muted">Share your product and adventure reviews</h5>
            <hr>
        </div>
    </div>
    {% for post in posts %}
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-10">
            <div class="card">
                <div class="card-header bg-lightblue">
                    <h5 class="card-title card-title-font text-white" href="{% url 'post_detail' post.id %}">
                        <i class="fab fa-telegram"></i> {{ post.title }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mb-auto">{{ post.content|slice:"150" }}</p>
                    <a href="{% url 'post_detail' post.id %}"><small>read more...</small></a>
                </div>
                    <div class="card-footer bg-transparent">
                        <small class="text-muted">Posted on: {{ post.created_on }} by {{ post.author }}</small>

                    <div class="float-right">
                        {% if post.author == request_user %}
                        <small>
                            <a href="{% url 'edit_post' post.id %}"><i class="far fa-edit"></i>Edit </a>
                            <spam>|</span>
                                <a class="text-danger" href="{% url 'delete_post' post.id %}"><i
                                        class="far fa-trash-alt"></i> Delete</a>
                        </small>
                        {% elif request.user.is_staff %}
                        <small>
                            <a href="{% url 'edit_post' post.id %}"><i class="far fa-edit"></i>Edit </a>
                            <spam>|</span>
                                <a class="text-danger" href="{% url 'delete_post' post.id %}"><i
                                        class="far fa-trash-alt"></i> Delete</a>
                        </small>
                        {% endif %}
                    </div>    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr>
</div>

{% endblock %}