{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="card-body d-flex flex-column align-items-start">
    {% for post in posts %}
    <strong class="d-inline-block mb-2 text-primary">{{ post.created_on }}</strong>
    <h3 class="mb-0">
        <a class="text-dark" href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
    </h3>
    <div class="mb-1 text-muted">{{ post.author }}</div>
    <p class="card-text mb-auto">{{ post.content|slice:"150" }}</p>
    <a href="{% url 'post_detail' post.id %}">Continue reading...</a>   
    
    {% if post.author == request_user %}
        <a href="{% url 'edit_post' post.id %}">Lets Edit!</a>
    {% endif %}
    
    {% endfor %}   
</div>

{% endblock %}