{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="page-heading-font">The Outdoor World Equipment and Adventure Blog</h2>
            <h5 class="text-muted">Share your product and adventure reviews</h5>
            <hr>
        </div>
    </div>
    {% for post in posts %}
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-10">
            <div class="card">
                <div class="card-header bg-lightblue">
                    <h5 class="card-title card-title-font text-white" href="{% url 'post_detail' post.id %}">
                        <i class="fab fa-telegram"></i> {{ post.title }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">                  
                            {% if post.image %}
                                <a href="{% url 'post_detail' post.id %}">
                                    <img class="card-img-top img-fluid" src="{{ post.image.url }} " alt=" {{ post.name }}">
                                </a>

                                {% elif post.image_url %}
                                    <a href="{% url 'post_detail' post.id %}">
                                        <img class="card-img-top img-fluid" src="{{ post.image_url }} " alt=" {{ post.name }}">
                                    </a>

                                {% else %}
                                    <a href="{% url 'post_detail' post.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/base-images/no-image.png" alt="{{ post.name }}">
                                    </a>
                            {% endif %}
                        </div>  
                        <div class="col-10">
                            <p class="card-text mb-auto">{{ post.content|slice:"150" }}</p>
                            <a href="{% url 'post_detail' post.id %}"><small>read more...</small></a>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent">
                    <small class="text-muted">Posted on: {{ post.created_on }} by {{ post.author }}</small>
                </div>
            </div>
        </div>
    </div>
<hr>
{% endfor %}
</div>

{% endblock %}