{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="page-heading-font">The Outdoor World Equipment and Adventure Blog</h2>
                <h5 class="category-badge text-decoration none">
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-theme-color">Edit Post</span>
                </h5>
            <hr class="w-50 mb-1">
        </div>
    </div>

        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form method="POST" action="{% url 'edit_post' post.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-red rounded-0" href="{% url 'blog' %}">Cancel</a>
                        <button class="btn btn-theme-color rounded-0" type="submit">Edit Post</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}