{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col">
            <h2 class="page-heading-font text-center">Contact Us</h2>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <form method="POST" action="{% url 'contact' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <a class="btn btn-red rounded-0" href="{% url 'home' %}"><i class="fas fa-window-close"></i> Cancel</a>
                    <button class="btn btn-theme-color rounded-0" type="submit"><i class="fas fa-paper-plane"> </i> Send Message</button>
                </div>
            </form>
        </div>            
    </div>
        
</div>
{% endblock %}

